each day in ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
	- var dayLower = day.toLowerCase();
	div(id=dayLower+'Hours')
		.hoursLabel
			label(for=dayLower+"StartTime")= day+":"
		.hoursClosed
			input(type='checkbox',id=dayLower+'Close',value='Closed')
			|Closed
		.clear
		div(id=dayLower+'Input',class='row')
			.three.ninth.mobile
				input(type='text',name=dayLower+'StartTime',id=dayLower+'StartTime',placeholder='9:00')
			.one.ninth.mobile
				span(id=dayLower+'StartSuffix',class='suffix') am
			.one.ninth.mobile.hoursSeperator
				|to
			.three.ninth.mobile
				input(type='text',name=dayLower+'EndTime',id=dayLower+'EndTime',placeholder='5:00')
			.one.ninth.mobile
				span(id=dayLower+'EndSuffix',class='suffix') pm
	hr